div.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.bg-img {
    background-image: url('/rt-bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
}


div.login-form-wrapper div.form-wrapper {
    width: 450px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

div.login-form-wrapper .header {
    margin-bottom:20px;
    color:#333;
}

div.login-form-wrapper form {
    display: flex;
    flex-direction: column;
}

div.login-form-wrapper .input-container {
    margin-bottom:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.login-form-wrapper .form-label {
    flex:3;
    margin-bottom:5px;
    color:#555;
}
div.login-form-wrapper .form-control {
    flex:7;
}
div.login-form-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}


