/* remnantForm */
.rt-area-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rt-area-left {
    border: solid 1px blue;
    flex: 6;
}

.rt-area-right {
    border: solid 1px red;
    flex: 4;
    text-align: right;
}

div.rt-img-wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #d9e1ed;
    margin: 15px auto;
    padding: 25px;
    min-height: 15vw;
    width: auto;
}

.rt-img-default {
    width: 6.1728395vw;
    height: auto;
}

.rt-img-upload {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.remnant-regist-area table {
    width: 100%;
}

.remnant-regist-area table td {
    vertical-align: middle;
}

.remnant-regist-area table td.w-35p {
    width: 35% !important;
}

.remnant-regist-area table td.w-auto {
    width: auto !important;
}

.remnant-regist-area table div.img-area {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px #dee2e6;
    padding: 10px;
}

.remnant-regist-area table .rt-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.img-area:hover .rt-image.view {
    opacity: unset;
    cursor:pointer;
}
.img-area:hover .rt-image {
    opacity: 0.7;
}

.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.img-area:hover .overlay-button {
    display: inline-block;
}

/* 댓글 영역 */
.reply-container-wrapper {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
}
.reply-container-wrapper div.reply-input-area {
    margin-bottom:1rem;
}
.reply-container-wrapper div.reply-listcnt-area {
    margin-bottom:1rem;
}
.reply-container-wrapper div.reply-list-area {
    margin-bottom:1rem;
}
.reply-container-wrapper div.reply-list-area .reply-item {
    margin-bottom:1rem;
}
.reply-container-wrapper div.reply-list-area .reply-item span.reply-btn-span {
    font-size:0.8rem;
}
.reply-container-wrapper div.reply-list-area .reply-item div.reply-btn-area {
    border: solid 1px #c7c7c7;
    padding: 1px 8px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
    cursor:pointer;
    display:inline-block;
}
.reply-container-wrapper div.reply-list-area pre {
    white-space:pre-wrap;
}

.reply-container-wrapper textarea.textarea-reply {
    height: 120px;
}
.reply-container-wrapper .btn-save-reply {
    width: 100%;
    height: 100%;
}
