/* remnantForm */
.rt-area-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rt-area-left {
    border: solid 1px blue;
    flex: 6;
}

.rt-area-right {
    border: solid 1px red;
    flex: 4;
    text-align: right;
}

div.rt-img-wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #d9e1ed;
    margin: 15px auto;
    padding: 25px;
    min-height: 15vw;
    width: auto;
}

.rt-img-default {
    width: 6.1728395vw;
    height: auto;
}

.rt-img-upload {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.remnant-regist-area table {
    width: 100%;
}

.remnant-regist-area table td {
    vertical-align: middle;
}

.remnant-regist-area table td.w-35p {
    width: 35% !important;
}

.remnant-regist-area table td.w-auto {
    width: auto !important;
}

.remnant-regist-area table div.img-area {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px #dee2e6;
    padding: 10px;
}

.remnant-regist-area table .rt-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.img-area:hover .rt-image.view {
    opacity: unset;
    cursor:pointer;
}
.img-area:hover .rt-image {
    opacity: 0.7;
}

.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.img-area:hover .overlay-button {
    display: inline-block;
}